* * * * * root echo "Hello world" >> /var/log/cron.log 2>&1
# 0 * * * * python /usr/src/app/monthly.py
# * * * * * echo 'hello world' > '/usr/src/app/abc.txt'
# Don't remove the empty line at the end of this file. It is required to run the cron job
